ipykernel
pydantic
langchain
python-dotenv
langchain-core
langchain_core
langchain-community
langchain_community
pypdf
arxiv
wikipedia
langchain-text-splitters
chromadb
groq
langchain-groq
sentence_transformers
langchain-huggingface
faiss-cpu
chroma
langchain_chroma
langchain_ollama
streamlit
langchain_tavily